.tex {
    margin-left: 300px;
    padding-top: 20px;
  }

  .dts {
    margin-right: 200px;
    margin-top: 80px;
  }

  #imagen{
    height: 350px;
    width: 380px;
    margin-left: 680px;
    margin-top: -350px !important;
    background: #ffff;
  }

  .form-control {
    width: 390px !important;
    margin-left: 15px;
  }

  .form{
    display: flex;
    background: #000;
    width: 420px;
    height: 350px;
    margin-left: 100px;
    align-items: flex-end;
    margin-top: 40px;
    border-radius: 15px;
  }

  input#multimedia.dts{
      width: 290px; 
      background: #ffff;
      margin-top: -100px;
      margin-left: 30px;
    }

  .form-label:hover{
      color: #5a7346;
  }
  
   a.datos{
      display: flex;
      color: #ffff;
      line-height: 10px;
      margin-left: 30px;
   }
   a.datos:hover{
      color: #5a7346;
   }

   .form-label{
      color: #ffff;
      margin-left: 30px;
   }

  a#btn_volver {
    width: 120px;
    margin-top: -20px;
    margin-left: 250px;
    font-family: "Segoe UI";
    border-radius: 20px;
    font-size: 20px;
  }

  a#btn_volver:hover{
    color: #000;
  }